body {
  background-color: pink;
}

a {
  text-decoration: none;
}

h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px;
  margin-top: -19px;
}

.content {
  height: 100%;
  margin-bottom: 50px;
  padding: 20px;
}

@media (min-width: 640px) {

.content {
  color: red;
}

}
