body {
  background-color: rgb(249, 210, 219);
  display: flex;
  justify-content: center;
}

main {
  background-color: rgb(242, 218, 230);
  top: 1rem;
  height: calc(100vh - 1rem);
  width: calc(100vw - 1rem);
}

a {
  text-decoration: none;
}


#first {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -19px;
  margin-top: -19px;
}

#rest1 {
  transition: all 0.5s ease;
  letter-spacing: -10px;
  color: rgb(242, 218, 230);
  position: absolute;
  left: 51%;
  top: 40%;
  /*margin-left: -19px;*/
  margin-top: -19px;
}


#rest2 {

}


#second {
  transition: all 0.5s ease;
  letter-spacing: -10px;
  position: absolute;
  left: 61%;
  top: 40%;
  margin-top: -19px;
}

#first:hover {
  display: inline;
  letter-spacing: 2px;
}

#first:hover + #rest1 {
  color: rgb(5, 5, 5);
  letter-spacing: 2px;
}

#first:hover + #rest2 {
  display: block;
  letter-spacing: 2px;
}


h4 {
  position: absolute;
  left: 50%;
  top: 43%;
  margin-left: -20px;
}

li {
  list-style: none;
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
}


.things {
  position: absolute;
  left: 53%;
  top: 80%;
  margin-left: -70px;
  margin-top: -70px;
}


.content {
  height: 100%;
  width: 100%;
}

@media (min-width: 480px) {

  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -19px;
  }

  h4 {
    position: absolute;
    left: 50%;
    top: 43%;
    margin-left: -20px;
  }

  .things {
    position: absolute;
    left: 52%;
    top: 80%;
    margin-left: -70px;
    margin-top: -70px;
  }

  #rest1 {
    position: absolute;
    left: 53%;
    top: 40%;
    /*margin-left: -19px;*/
    margin-top: -19px;
  }

}

@media (min-width: 770px) {


  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -19px;
  }

  h4 {
    position: absolute;
    left: 50%;
    top: 43%;
    margin-left: -20px;
  }

  .things {
    position: absolute;
    left: 90%;
    top: 85%;
  }

  #rest1 {
    position: absolute;
    left: 52.7%;
    top: 40%;
    /*margin-left: -19px;*/
    margin-top: -19px;
  }

@media (min-width: 1024px) {

  .things {
    position: absolute;
    left: 90%;
    top: 85%;
  }

}
