* {
    box-sizing: border-box;
}

body {
  background-color: #ccffeb;
  display: flex;
  justify-content: center;
}

main {
  background-color: #fee6e6;
  top: 1rem;
  height: calc(100vh - 1rem);
  width: calc(100vw - 1rem);
}

a {
  text-decoration: none;
  color: black;
}

.links a {
  padding: 8px;
  display: inline-block;
}

ul {
  width: 100%;
  padding: 0;
  margin: 5px 0px 5px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

.links {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  position: fixed;
  background-color: #ccffeb;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
}

.middle {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.name {
  letter-spacing: 2px;
  line-height: 30px;
}

.title {
  font-weight: 300;
}


@media (min-width: 1024px) {

  .content {
    display: flex;
    font-size: 120%;
    justify-content: flex-end;
  }

  .links {
    font-size: 75%;
    flex-direction: column;
    /*padding: 0px 25px 25px 0px;*/
  }

  .links a:hover {
    color: rgb(198, 151, 200);
  }

}
